---
import Layout from '../layouts/Layout.astro';
import FamilyRoles from '../components/FamilyRoles.astro';
import MoneyConfidence from '../components/MoneyConfidence.astro';
---

<Layout>
	<main>
		<FamilyRoles />
		<MoneyConfidence />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		overflow-x: hidden;
	}
</style>
