---
import Layout from "../layouts/Layout.astro";
import Header from "../components/fam/Header.astro";
import Hero from "../components/fam/Hero.astro";
import SpendingAccount from "../components/fam/SpendingAccount.astro";
import UPI from "../components/fam/UPI.astro";
import FamCard from "../components/fam/FamCard.astro";
import Rewards from "../components/fam/Rewards.astro";
import Testimonials from "../components/fam/Testimonials.astro";
import Partners from "../components/fam/Partners.astro";
import Footer from "../components/fam/Footer.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<SpendingAccount />
		<UPI />
		<FamCard />
		<Rewards />
		<Testimonials />
		<Partners />
	</main>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
		overflow-x: hidden;
	}
</style>
