---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Ecosystem from "../components/Ecosystem.astro";
import Journey from "../components/Journey.astro";
import Comparison from "../components/Comparison.astro";
import MyHub from "../components/myhub.astro";
import Testimonial from "../components/Testimonial.astro";
import Partner from "../components/Partner.astro";
---

<Layout>
	<main>
		<Hero />
		<Ecosystem />
		<Journey />
		<Comparison />
		<MyHub />
		<Testimonial />
		<Partner />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		overflow-x: hidden;
	}
</style>
